body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.page-container {
  display: flex;
}


.main-content {
  margin-left: 220px; /* Adjust based on sidebar width */
  padding: 20px;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  overflow-x: auto; /* Ensure content fits within the area */
}

.directory-table {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

thead {
  background-color: #1565c0;
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

table th, table td {
  word-wrap: break-word; /* Ensure long words break within the cell */
}

